<body>
  <header class="header">

    <div class="text">
      <a (click)="clickEvent()"> Here is a Secret Message for You!</a>
    </div>

    <h1 class="primary-heading"> This is Web series Feedback Portal </h1>

    <hr>
  </header>

  <div *ngIf="isVisible">
    <img class="img"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMJRRi-dmLHuTw7NDbpNBwdMkhwIvBYvkU8g&usqp=CAU"
      alt="Mirzapur">
  </div>
  <h2>Web Series Names :</h2>

  <div class="series-1">
    <a class="imageShowText" (click)="shouldDisplay()"> Click here to see poster of Mirzapur </a>


    <div class="feedBack">
      <h3>Type your Feedback Here and Submit</h3>
      <input type="text" #box1>
      <button class="submitFeedbackBtn" (click)="getFeedback1(box1.value)">Submit Feedback</button>
      <p> {{currentFeedback1}} </p>
    </div>
  </div>


  <div class="series-2">
    <a class="imageShowText" (click)="shouldDisplay2()"> Click here to see poster of Family Man Season 2 </a>

    <div *ngIf="isVisible2">
      <img class="img" src="https://images.odishatv.in/uploadimage/library/16_9/16_9_0/family-man-2_1619331016.jpg"
        alt="FM2">
    </div>

    <div class="feedBack">
      <h3>Type your Feedback Here and Submit</h3>
      <input type="text" #box2>
      <button class="submitFeedbackBtn" (click)="getFeedback2(box2.value)">Submit Feedback</button>
      <p> {{currentFeedback2}} </p>
    </div>
  </div>
  <hr>

  <section class="seriesCast">

    <div class="cast" (mouseover)="mouseover1()">
      <span  *ngIf="!changeText">Hover here to see Cast Mirzapur </span>
      <span *ngIf="changeText">
        <ul>
          <li>Pankaj Tripathi</li>
          <li>Dvivendu Sharma</li>
          <li>Shweta Tripathi</li>
          <li>Ali Fazal</li>
        </ul>
      </span>
    </div>

    <div class="cast" (mouseover)="mouseover2()">
      <span  *ngIf="!changeText2">Hover here to see Cast Family Man Season </span>
      <span *ngIf="changeText2">
        <ul>
          <li>Manoj Vajpayee</li>
          <li>Samantha Akkineni</li>
          <li>Priyamani</li>
          <li>Sharib Hashmi</li>
        </ul>
      </span>
    </div>

  </section>

</body>